#change_password_form
{
	margin-top: 5%;
	margin-bottom: 5%;
	
	border-style: solid;
	border-color: black;
	border-width: 3px;
}

#change_password_form #error_msg
{
	font-size:22px;
	color: #FF0000;
}

#change_password_form button
{
	margin-top: 3%;
}

#change_password_form label
{
	font-family: Georgia, serif;
	color: #646464;
	font-size: 1.2em;
}

#change_password_form input
{
	margin-top: 10px;
	margin-bottom: 15px;
}

